.pizza{
    background-color:#5bc0de;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://thumbs.dreamstime.com/z/royal-nine-tiered-umbrella-thailand-tiered-umbrella-blue-background-highest-point-temple-royal-nine-tiered-139883204.jpg") center/ cover no-repeat fixed;
    height: 80vh;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Merriweather', serif;
    padding: 20px;
}
body{
    color: black;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
    background-color: #5bc0de;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Emilys Candy', cursive;
}
footer {
    background-color: #5bc0de;
    color:white;
    height: 400px;
    position: relative;
    margin-top: 50px;
}
.footer-top {
      display: flex;
      height: 300px;
      color: black;
      font-family: 'Merriweather', serif;
}
    
.footer-top h2 {
       flex: auto;
       margin-left:30px;
       text-align:center;
       margin-top:10px;
}
.footer-bottom {
      background-color: black;
      color:white;
      height:50px;
      text-align:center;
      position: relative;
      bottom: 0;
      left: 0;
      padding-top: 20px;
      width: 100%;
      font-family: 'Merriweather', serif;

}
.text{
      color: black;
      text-align: center;
}

#pizzaDetails{
    display: none;
    cursor: pointer;
    text-decoration:underline;
    color:blue;
    font-size:20px;
}
#pizzaDetail{
    display: none;
}
#deliver{
    display: none;
}
#pickup{
    display: none;
}
#checkout{
    display: none;
}
#Cost{
    text-align: center;
    margin-top: 5%;
}
.order{
    display: block;
    background-color: #5bc0de;
    width: 100%;
}
.container{
    background-color: #5bc0de;
}